<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.travelers.post.like.dao.LikeDAO">

	<select id="selectLikeList" parameterType="int" resultType="com.travelers.post.like.dto.LikeDTO">
		SELECT
			*
		FROM
			`LIKE`
		WHERE
			`POST_CD` = #{postCd}
	</select>
	
	<select id="existLikePost" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`LIKE`
		WHERE
			`POST_CD` = #{postCd} AND `USER_CD` = #{userCd}
	</select>
	
	<insert id="insertLikePost" parameterType="map">
		INSERT INTO `LIKE`
		(
			`POST_CD`
			,`USER_CD`
			,`USER_NAME`
		)
		VALUES
		(
			#{postCd}
			,#{userCd}
			,#{userName}
		)
	</insert>
	
	<delete id="deleteLikePost" parameterType="int">
		DELETE FROM
			`LIKE`
		WHERE
			`LIKE_CD` = #{likeCd}
	</delete>
	
	<delete id="deleteLikePostList" parameterType="int">
		DELETE FROM
			`LIKE`
		WHERE
			`POST_CD` = #{postCd}
	</delete>



</mapper>