<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.travelers.post.dao.PostDAO">

	<insert id="insertPost" parameterType="map">
		INSERT INTO `POST`
		(
			`USER_CD`
			,`USER_NAME`
			,`IMG_PATH_LIST`
			,`CONTENT`
			,`LOCATION_NAME`
			,`LATITUDE`
			,`LONGITUDE`
			,`CREATED_AT`
			,`UPDATED_AT`
		)
		VALUES
		(
			#{userCd}
			,#{userName}
			,#{imgPath}
			,#{content}
			,#{locationName}
			,#{lat}
			,#{lng}
			,now()
			,now()
		)
	</insert>



</mapper>