<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.travelers.user.dao.UserDAO">

	<insert id="insertUser" parameterType="map">
		INSERT INTO `USER`
		(
			`LOGIN_ID`
			, `PASSWORD`
			, `USER_NAME`
			, `EMAIL`
			, `CREATED_AT`
			, `UPDATED_AT`
		)
		VALUES
		(
			#{loginId}
			, #{password}
			, #{name}
			, #{email}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectDuplicate" parameterType="String" resultType="int">
		SELECT
			count(*)
		FROM
			`USER`
		WHERE
			`LOGIN_ID` = #{loginId}
	</select>
	
	<select id="selectLoginUser" parameterType="map" resultType="com.travelers.user.dto.UserDTO">
		SELECT
			*
		FROM
			`USER`
		WHERE
			`LOGIN_ID` = #{loginId} AND `PASSWORD` = #{password}
	</select>

</mapper>